body {
  font-family: arial, sans-serif;
  background-image: url(https://images.pexels.com/photos/907485/pexels-photo-907485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
h1 {
  color: #6c6cc0;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 10;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
  padding-left: 9px;
  padding-top: 6px;
}
li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 30px auto;
  background-color: rgb(255, 255, 255, 0.9);
  padding-left: 25px;
  padding-bottom: 25px;
  border: 1px solid #ffffff;
  border-radius: 15px;
}
.weather-app {
  max-width: 652px;
  padding: 15px;
  border-bottom: 1px solid #dadde1;
}
.btn-primary {
  background-color: #927cce;
  border-color: #927cce;
}
.btn-primary:hover {
  background-color: #676bbe;
  transition: all 200ms linear;
  cursor: pointer;
}
.weather-temperature img {
  height: 60px;
  margin-right: 5px;
  width: 60px;
}
.weather-temperature strong {
  color: #b290d8;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  display: inline;
  font-size: 16px;
  top: -20px;
  color: #b290d8;
}
.left-summary {
  color: #70757a;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-align: right;
}
.subheading {
  color: #6c6cc0;
  font-size: 22px;
  font-weight: 400px;
  line-height: 26px;
  padding-left: 9px;
  padding-top: 6px;
}

.weather-temperature .active {
  color: rgb(32, 33, 36);
  text-decoration: none;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  font-size: 13px;
  line-height: 15px;
  margin-top: 20px;
  text-align: center;
  color: #202124;
}
.forecast-date .forecast-temperature-max {
  font-size: 16px;
  opacity: 0.6;
}
.forecast-temperature {
  font-size: 13px;
  color: #b290d8;
}
.forecast-temperature-min {
  opacity: 0.7;
}
.footer {
  color: #676bbe;
}
